<div>
  <h1>Group Mapping</h1>
</div>
<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
  <button type="submit" class="btn btn-default">Modify</button>
</form>
<div class="overflow-x:auto">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Group ID</th>
      <th>User Profile ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
      </td>
      <td>34621</td>
      <td>Group-3</td>
    </tr>
    </tbody>
  </table>
</div>
