<div>
    <h1 class="strong">Forgot password ?</h1>
    <form>
        <h3>Enter your User Id to receive your password</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter your User Id" />
        </div>
        <div class="modal-footer" align="center">
          <!--<button class="btn btn-primary">Submit</button><a class="btn btn-link">Cancel</a>-->
          <button class="btn btn-primary">Submit</button><button type="button" class="btn btn-default">Close</button>
        </div>
    </form>
</div>
