<h1 align="center">Sign-up Requests</h1>
<br>
<div class="container-fluid">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Account Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Belongs To</th>
      <th>Approve/Reject</th>
    </tr>
    </thead>
    <tbody>
      <td>
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
      </td>
      <td>13532</td>
      <td>David_09</td>
      <td>*******</td>
      <td>david.mike@gmail.com</td>
      <td>David</td>
      <td>Rogers</td>
      <form>
        <input class="form-control" list="service1">
        <datalist id="service1">
          <option value="Customer">
          <option value="Distributor">
          <option value="Retailer">
          <option value="Admin Group">
        </datalist>
      </form>
      <td>
          <button class="btn btn-link">Approve</button>|<button class="btn btn-link">Reject</button>
      </td>
      </tbody>
  </table>
</div>
