<div>
  <h1>Roles</h1>
</div>
<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
  <button type="submit" class="btn btn-default">Modify</button>
</form>
<div class="overflow-x:auto">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Role ID</th>
      <th>Role Code</th>
      <th>ROle Name</th>
      <th>Role Description</th>
      <th>Is Active?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
          <span class="input-group-addon">
            <input type="checkbox" aria-label="...">
          </span>
      </td>
      <td>34621</td>
      <td>Test 2</td>
      <td>Sample Role</td>
      <td>Sample Description</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
